* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
	display: none;
}

canvas, div, body {
	overflow: hidden;
}

.game-status {
	position: absolute;
	opacity: 0.7;
	width: 100%;
	padding: 20px 0px;
	height: 20px;
	overflow: hidden;
	background-color: orange;
	border-radius: 25px;
}

.game-status-score, 
.game-status-lives,
.game-status-stars {
	float: left;
	width: 31%;
	margin: 0px 0px 0px 25px;
	text-align: left;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(153, 231, 255, 0.5);
}

.game-status-points-left {
	width: 3%;
	color: #a20707;
	border-color: #fcff26;
	border-width: 2px;
    border-radius: 16px;
    border-style: solid;
    display: inline-block;
    background-color: #ffdc9b;
    font-size: 90%;
    text-align: center;
}

.game-status-stars {
	background: url("../img/item-star1.png") no-repeat left center;
	background-size: 19px 20px;
	padding-left: 25px;
}


.game-over, 
.game-win,
.game-player-menu {
	position: absolute;
	opacity: 1;
	width: 100%;
	height: 97%;
	overflow: hidden;
	background-color: orange;
}

.game-player-menu {
	background-color: #99f;
	z-index: -1;
}

.game-over {
	background-color: red;
}

.game-win h2, 
.game-win-score, 
.game-win-stars, 
.game-win-lives, 
.game-win-new, 
.game-over h2,
.game-over-score, 
.game-over-stars, 
.game-over-new {
    float: left;
    width: 80%;
    margin: 1% 10%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(153, 231, 255, 0.5);
    font-size: 8vh;
}

.game-over h2,
.game-over-score, 
.game-over-stars, 
.game-over-new {
    color: #ddf;
    text-shadow: 0px 0px 5px rgba(27, 31, 255, 0.5);
}

.game-win h2,
.game-over h2
{
	margin-top: 5vh;
    font-weight: bold;
    color: #ff9;
    text-shadow: 0px 0px 5px rgba(240, 171, 25, 0.6);
    font-size: 13vh;
}

.game-over h2
{
    color: #222;
    text-shadow: 0px 0px 5px rgba(240, 31, 55, 0.6);
}

.game-win-stars,
.game-over-stars {
	background: url("../img/item-star1.png") no-repeat 57% center;
	background-size: 46px 52px;
}

.game-win-new,
.game-over-new {
    width: 30%;
    margin: 6vh 35%;
    padding: 2% 0%;
    border-radius: 20px;
    color: #222;
    background-color: yellow;
    font-size: 5vh;
}

.game-player-menu .game-player-menu-stats-tabs,
.game-player-menu .game-player-menu-stats {
    display: block;
    float: left;
    margin: 0 12.5vw;
    width: 75vw;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item {
    display: block;
    float: left;
	width: 100%;
	margin: 1vh 0;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-name,
.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-value,
.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-minus,
.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-plus {
    display: block;
    float: left;
	width: 30%;
	padding: 7px;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-value {
	width: 2%;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-minus,
.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-plus {
	width: auto;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-minus,
.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-plus {
	border-radius: 12px;
	border: 2px solid #e11;
	padding: 3px;
	font-weight: bold;
	cursor: not-allowed;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-minus.active,
.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-plus.active {
	border: 2px solid #1e1;
	cursor: pointer;
}

.game-player-menu .game-player-menu-stats .game-player-menu-stats-item .game-player-menu-stats-item-name {
	color: #222;
}


.game-player-menu-stats-update {
    width: 30%;
    margin: 1% 35%;
    padding: 1% 0%;
    border-radius: 20px;
    color: #222;
    background-color: gray;
    font-size: 2vh;
    text-align: center;
}

.game-player-menu-stats-update.active {
    background-color: yellow;
    cursor: pointer;
}

.game-player-menu .game-player-menu-stats-tabs {
	margin-top: 100px;
}

.game-player-menu .game-player-menu-stats-tabs .player-menu-tab {
    display: block;
    float: left;
	padding: 12px;
	color: #22f;
	overflow: hidden;
	border-radius: 12px 12px 0px 0px;
}

.game-player-menu .game-player-menu-stats {
	padding: 12px;
	color: #f22;
	background-color: #6f6;
}

.game-player-menu .game-player-menu-stats-tabs .player-menu-tab.active {
	color: #f22;
	background-color: #6f6;
}